<div>
  <div id="header">{{ title }}</div>
  <div id="slides">
    <div class="side-bar">
      <nav>
        <a v-bind:href="section.href" v-for="section in sections">
          {{ section.text }}
        </a>
      </nav>
    </div>
    <div class="slide-left">
      <h2>Source</h2>
      <div>
        <div v-html="markdownSource" class="markdown-body"></div>
      </div>
    </div>
    <div class="slide-right">
      <h2>Development</h2>
      <div>
          <summary>
            <p>All model of this page gotten by only one import:</p>
            <pre v-highlightjs><code class="javascript">{{ exampleImport }}</code></pre>
            <p>The result of import is an object with exhaustive information about the target file. In this particular case - README.md:</p>
            <pre v-highlightjs="metadata"><code class="json"></code></pre>
            <p>The work of import is ensured by the following rule:</p>
            <pre v-highlightjs="webpackConfig"><code class="javascript"></code></pre>
          </summary>
      </div>
    </div>
  </div>
</div>
